<main>
  <div class = "container">
    <div class = "row mt-3">
      <h5>商品編集</h5>
    </div>
    
    <div class = "row ml-3">
      <% if @item.errors.any? %>
        <h6 class = "col-auto text-danger">すべての項目に値をいれてください。。</h6>
      <% end %>
    </div>
    

      <%= form_with model: @item,url: admin_item_path(@item.id)  do |f| %>

      <div class = "row justify-content-center mt-2">
          <label for="item_image", class = "col-3">商品画像</label>
          <div class = "col-3">
            <%= f.file_field :item_image, placeholder: "ファイルを選択", accept: "image/*",class: "form-control-file item_image" %>
          </div>
      </div>

      <div class = "row justify-content-center mt-2">
          <label for="item_name", class = "col-3">商品名</label>
          <div class = "col-3">
            <%= f.text_field :name,placeholder: "商品名", autofocus: true, id: "item_name",class: "form-control name" %>
          </div>
      </div>

      <div class = "row justify-content-center mt-2">
          <label for="item_introduction", class = "col-3">商品説明</label>
          <div class = "col-3">
            <%= f.text_area :introduction,placeholder: "ここに説明を記述します。", autofocus: true, id: "item_introduction",class: "form-control introduction" %>
          </div>
      </div>

      <div class = "row justify-content-center mt-2">
          <label for="genre_id", class = "col-3">ジャンル</label>
          <div class = "col-3">
            <%= f.select :genre_id, @genres.map{ |genre| [genre.name, genre.id] } , include_blank: "--選択して下さい--"%>
          </div>
      </div>


      <div class = "row justify-content-center mt-2">
          <label for="item_price", class = "col-3">税抜価格</label>
          <div class ="col-3">
            <%= f.number_field :price,placeholder: "1000", autofocus: true, id: "item_price",class: "form-control price" %>
          </div>
          <p>円</p>
      </div>

      <div class ="row justify-content-center mt-2">
          <label for="is_active", class = "col-3">販売ステータス</label>
          <div class = "col-3">
            <%= f.radio_button :is_active, true %>
　　    　  <%= f.label :is_active_true,"販売中" %>
     　　   　<%= f.radio_button :is_active, false %>
     　　   　<%= f.label :is_active_false,"販売停止中" %>
          </div>
      </div>

      <div class = "row justify-content-center mt-2">
          <%= f.submit "変更を保存" ,class: "btn btn-success"%>
      </div>
      <% end %>

  </div>
</main>