<main>
  <div class = "container m-3">
    <div class = "row">
      <h5>注文情報入力</h5>
    </div>
    
    <div class = "row">
      <h6>支払方法</h6>
      <%= form_with model: @order,url: orders_confirm_path, do |f| %>
        <%= f.radio_button :billing_method, Order.billing_methods.key(0) %>
        <%= f.label :billing_method_credit_card,Order.billing_methods_i18n[:credit_card] %>
        
        <%= f.radio_button :is_deletede, Order.billing_methods.key(1) %>
        <%= f.label :billing_method_transfer,Order.billing_methods_i18n[:transfer]%>
      <%end%>
    </div>
    <div class = "row mt-3">
      <h6>お届け先</h6>
      <%= form_with model: @order,url: orders_confirm_path, do |f| %>
      　<%= f.radio_button :billing_method, Order.billing_methods.key(0) %>
      　<%= f.label :billing_method_credit_card,"ご自身の住所" %>
      　  
      　
      　<%= f.radio_button :billing_method, Order.billing_methods.key(0) %>
      　<%= f.label :billing_method_credit_card,"登録済み住所から選択" %>
      　
      　<%= f.radio_button :billing_method, Order.billing_methods.key(0)  %>
      　<%= f.label :billing_method_credit_card,"新しいお届け先" %>
      　<div class = "row ">
          <p class = "col-3">郵便番号(ハイフンなし）</p>
          <%= f.text_field :postal_code ,placeholder: "0000000",class: "form-control col-3 mr-5"%>
        </div>

        <div class = "row mt-2">
          <p class = "col-3">住所</p>
          <%= f.text_field :address ,placeholder: "東京都渋谷区代々木神園町0-0",class: "form-control col-6 mr-5"%>
        </div>

        <div class = "row mt-2">
          <p class = "col-3">宛名</p>
          <%= f.text_field :name ,placeholder: "令和道子",class: "form-control col-3"%>
        </div>
    
  </div>
</main>