<main>
  <div class ="container">
    <div class = "row">
        <h5 class="col-auto mt-4 ml-5">配送先編集</h5>
    </div>
    
    <div class = "row ml-3">
      <% if @address.errors.any? %>
        <h6 class = "col-auto text-danger">全ての値を入力ください。</h6>
      <% end %>
    </div>
    
    <%= form_with model: @address,url: address_path(@address.id),method: :patch do |f| %>

      <div class = "row mt-4">
        <p class = "col-3">郵便番号(ハイフンなし）</p>
        <%= f.text_field :postal_code ,placeholder: "0000000",class: "form-control col-3 mr-5"%>
      </div>

      <div class = "row mt-2">
        <p class = "col-3">住所</p>
        <%= f.text_field :address ,placeholder: "東京都渋谷区代々木神園町0-0",class: "form-control col-6 mr-5"%>
      </div>

      <div class = "row mt-2">
        <p class = "col-3">宛名</p>
        <%= f.text_field :name ,placeholder: "令和道子",class: "form-control col-3"%>

        <div class="col-6 text-right">
          <%= f.submit '変更内容を保存', class:"btn btn-success col-3" %>
        </div>
      </div>
    <%end%>
    
    </div>
  </main>