<main>
  <div class ="container">
    <div class = "row">
        <h5 class="col-auto mt-4 ml-5">配送先編集</h5>
    </div>
    
    <div class ="row mt-5">
    <div class="col-7">
        <table class="table table-bordered border-dark">
          <thead>
            <tr>
              <th class = "col-1 table-secondary">商品名</th>
              <th class = "col-3 table-secondary">単価（税込）</th>
              <th class = "col-2 table-secondary">数量</th>
              <th class = "col-3 table-secondary">小計</th>
              <th class = "col-3 table-secondary"></th>
            </tr>
          </thead>

          <tbody>
          <% @cart_items.each do |cart_item| %>

            <tr>
              <td><%= image_tag cart_item.item.get_item_image(50,50) %><%= cart_item.item.name %></td>
              <td><%= (cart_item.item.price+cart_itemitem.price*0.1).floor.to_s(:delimited) %></td>
              <td><%= address.name %></td>
              <td>
                <%= link_to "編集する", edit_address_path(address.id), class: "btn btn-sm btn-success m-1"%>
                <%= link_to "削除する", address_path(address.id), method: :delete, class: "btn btn-sm btn-danger m-1", "data-confirm" => "本当に削除しますか？" %>
              </td>
              <td></td>
            </tr>
          <%end%>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </main>