<main>
  <div class = "container mt-5">

    <div class ="row ">
      <div class="col-3">
        <table class="table table-inverse">
          <thead>
            <tr>
              <th>ジャンル検索</th>
            </tr>
          </thead>
        <tbody>
          <% @genres.each do |genre| %>
            <tr>
              <td><%= genre.name %></td>
            </tr>
          <%end%>
        </tbody>
        </table>
      </div>
      
      <div class = "col-9">
        <div class = "container">
          <div class = "row">
            <div class = "col-6">
              <%= image_tag @item.get_item_image(250,250) %>
            </div>
        
            <div class = "col-6">
              <h5><%= @item.name %></h5>
              <p><%= @item.introduction %></p><br />
              <p>￥ <%= (@item.price*1.1).floor.to_s(:delimited) %> (税込み）</p>
            </div>
          </div>
          <div class = "col text-right">
          <% if customer_signed_in? %>
            <%= form_with model: @cart_item,url: cart_items_path do |f| %>
                <%= f.hidden_field :item_id, :value => @item.id %>
                <%= f.select :amount, *[1..10], include_blank: '選択してください' %>
                <%= f.submit 'カートに入れる', class:"btn btn-success ml-5" %>
            <%end%>
          <%end%>
          </div>
        </div>
    

      </div>
    </div>
  </div>
</main>